<ion-header>
  <ion-toolbar>
    <ion-title>
      Fitnews
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" *ngIf="!isDataLoaded"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="isDataLoaded">
  <ion-card *ngFor="let article of news">
    <a (click)="goToUrl(article.link)">
      <img alt="Silhouette of mountains" [src]="article['media:content']? article['media:content'].$.url : ''"/>
    </a>
    <a (click)="goToUrl(article.link)">
      <ion-card-header>
        <ion-card-title>{{article.title}}</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{article.contentSnippet}}
      </ion-card-content>
    </a>
    <ion-toolbar color="translucent">
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="onSaveBookmark()">
          <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-title>
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
